<form>
    <div class="mb-4">
        <label for="First Name" class="form-label"> <h6>First Name</h6></label>
        <input type="text" class="form-control" id="First Name">
    </div>
    <div class="mb-4">
        <label for="Last Name" class="form-label"> <h6>Last Name</h6></label>
        <input type="text" class="form-control" id="Last Name">
    </div>
    <div class="mb-4">
        <label for="address" class="form-label"> <h6>Address</h6></label>
        <input type="text" class="form-control" id="address">
    </div>
    
    <button type="submit" class="btn btn-success">Signup</button>
</form>
