<form #myForm="ngForm">
    <div class="mb-4">
        <input type="hidden" name = "_id" #_id="ngModel"  [(ngModel)]="commonService.selectedUser._id" class="form-control" >
        <label for="email" class="form-label"> <h6>Email address</h6></label>
        <input type="text" name = "email" #email="ngModel"  [(ngModel)]="commonService.selectedUser.email" class="form-control" id="email" >
    </div>
    <div class="mb-4">
        <label for="exampleInputPassword1" class="form-label"> <h6>Password</h6></label>
        <input type="password" name = "password" #password="ngModel"  [(ngModel)]="commonService.selectedUser.password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-4">
        <label for="exampleInputPassword2" class="form-label"> <h6>Retype Password</h6></label>
        <input type="password" name = "retype_password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="mb-4">
        <label for="mobile" class="form-label"> <h6>Mobile no</h6></label>
        <input type="text" name = "mobile" #mobile="ngModel" [(ngModel)]="commonService.selectedUser.mobile" class="form-control" id="mobile">
    </div>

    <button type="submit"(click)="addUser(myForm)" class="btn btn-success">Next</button>
    <div class="mt-3">
        <a class="toggle" routerLink="/login">Already have an account? Click here to login</a>
    </div>
</form>